<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SteamVrChatFeedback.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SteamVrChatFeedback.Properties.Settings>
            <setting name="Flags" serializeAs="String">
                <value />
            </setting>
            <setting name="TwAccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="TwRefreshToken" serializeAs="String">
                <value />
            </setting>
            <setting name="TwExpiresIn" serializeAs="String">
                <value />
            </setting>
            <setting name="TwChannel" serializeAs="String">
                <value />
            </setting>
            <setting name="VibroController" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VibroName" serializeAs="String">
                <value />
            </setting>
        </SteamVrChatFeedback.Properties.Settings>
    </userSettings>
</configuration>